@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Noto+Serif+JP&display=swap");
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

dt,
dd {
  margin: 0;
  padding: 0;
}

input[type="submit"][disabled] {
  background: #DCDCDC;
  cursor: not-allowed;
}

/* 基本設定
===================================== */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Montserrat", "游ゴシック体", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45;
  background: #FFFFFF;
  color: #333333;
  height: 100%;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.7;
}

.page-top {
  font-size: 50px;
  background-color: #AFEEDB;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  text-align: center;
  color: white;
}

#gray-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.8;
  z-index: 8;
}

/* ハンバーガーメニュー============================*/
.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  right: 30px;
  top: 30px;
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
}

.hamburger-menu__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger-menu__line::before,
  .hamburger-menu__line::after {
    display: block;
  }
}

.hamburger-menu__line::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.hamburger-menu__line::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.hamburger-menu.open .hamburger-menu__line {
  background-color: transparent;
}

.hamburger-menu.open .hamburger-menu__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu.open .hamburger-menu__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-icon {
  position: relative;
  z-index: 150;
  top: 0;
  width: 22px;
  height: 10px;
  -webkit-transition: -webkit-transform  0.3s ease 0s;
  transition: -webkit-transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s, -webkit-transform  0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
  width: 30px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  width: 30px;
}

.drawer-icon__bars {
  width: 22px;
  height: 10px;
  position: absolute;
  z-index: 150;
  top: -5px;
  left: 0;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  z-index: 150;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transition: -webkit-transform  0.5s ease 0s;
  transition: -webkit-transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s, -webkit-transform  0.5s ease 0s;
}

.drawer-icon__bar1.change-color,
.drawer-icon__bar2.change-color,
.drawer-icon__bar3.change-color {
  background: #333;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 520px;
  max-width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #222222F2;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform  0.3s ease 0s;
  transition: -webkit-transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s, -webkit-transform  0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__item a,
.drawer-content__item2 a {
  display: block;
  color: #fff;
  padding: 15px;
  font-size: 2rem;
  letter-spacing: 0.136rem;
  font-weight: 800;
  text-align: center;
  position: relative;
}

.drawer-content__item a::after,
.drawer-content__item2 a::after {
  content: "";
  width: 8px;
  height: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  right: 21px;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22222299;
  z-index: 40;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .inner {
    padding: 0 4vw;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 4vw;
  }
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.pc-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .pc-only {
    display: none;
  }
}

.pc-tab-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc-tab-only {
    display: none;
  }
}

.sp-tab-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-tab-only {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .sp-tab-only {
    display: block;
  }
}

footer {
  position: absolute;
  width: 100%;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .section {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 40px 0;
  }
}

.section__title {
  font-size: 3.2rem;
  line-height: 94 / 32;
  letter-spacing: 0.218rem;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 2.8rem;
    letter-spacing: 0.19rem;
  }
}

.button {
  display: inline-block;
  width: 160px;
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.018rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .button {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 1.1rem;
  }
}

.button:hover {
  opacity: 0.7;
}

.header {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 52;
}

.header__inner {
  max-width: 1440px;
  padding: 0 58px;
  height: 90px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0 4vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header__inner {
    padding: 0 4vw;
  }
}

.header__title {
  width: 260px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header__title {
    width: 189px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    width: 189px;
  }
}

.header__title a {
  display: inline-block;
  width: 100%;
}

.header__title a.change-color {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.header__menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header__menu.change-color {
  color: #333;
}

.header__menu-logo {
  margin-left: 7px;
  font-size: 1rem;
  letter-spacing: 0.005rem;
  font-family: 800;
  position: relative;
  z-index: 100;
}

.fv {
  height: 100%;
  position: relative;
}

.fv::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .fv::after {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .fv::after {
    width: 75%;
  }
}

.fv__img {
  background: url(../img/kv-img@2x.png) no-repeat top center/cover;
  height: 87.5%;
  width: 76.38889%;
  position: relative;
  z-index: 50;
}

.fv__contents {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: 0;
  color: #fff;
  z-index: 51;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .fv__contents {
    right: 4%;
  }
}

@media screen and (max-width: 767px) {
  .fv__contents {
    right: 20%;
    width: 238px;
    max-width: 100%;
  }
}

.fv__text-jp,
.fv__text-en {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .fv__text-jp,
  .fv__text-en {
    font-size: 1.6rem;
    letter-spacing: 0.101rem;
  }
}

@media screen and (max-width: 767px) {
  .fv__text-jp,
  .fv__text-en {
    font-size: 1.6rem;
    letter-spacing: 0.101rem;
  }
}

.fv__big {
  margin-top: 5px;
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: 800;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .fv__big {
    font-size: 5.6rem;
  }
}

@media screen and (max-width: 767px) {
  .fv__big {
    font-size: 5.6rem;
  }
}

.about {
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: 80px;
  }
}

.inner2 {
  padding: 0;
}

.about__inner {
  background: url(../img/about-img@2x.png) no-repeat center center/cover;
  padding: 110px 50px;
  max-width: 1100px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about__inner {
    padding: 60px 50px;
  }
}

@media screen and (max-width: 767px) {
  .about__inner {
    padding: 30px 4vw;
  }
}

.about__contents {
  max-width: 590px;
  background: #FFFFFFF2;
  padding: 50px 30px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about__contents {
    padding: 40px 30px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .about__contents {
    margin: 0 auto;
  }
}

.about__text {
  margin-top: 30px;
  font-family: "Noto serif jp", serif;
  font-weight: 400;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .about__text {
    font-size: 1.4rem;
  }
}

.about__button-block {
  margin-top: 30px;
}

.works {
  padding: 80px 0 60px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .works {
    padding: 40px 40px;
  }
}

@media screen and (max-width: 767px) {
  .works {
    padding: 40px 40px;
  }
}

.works__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .works__contents {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .works__contents {
    display: block;
  }
}

.works__block {
  max-width: 520px;
}

@media screen and (min-width: 1100px) {
  .works__block + .works__block {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .works__block + .works__block {
    margin-top: 80px;
  }
}

.works__img {
  margin-top: 30px;
}

.works__text {
  margin-top: 30px;
}

.works__button-block {
  margin-top: 30px;
}

.bg__back {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(37%, transparent), color-stop(37%, #F0F0F0), to(#F0F0F0));
  background: linear-gradient(to bottom, transparent 0%, transparent 37%, #F0F0F0 37%, #F0F0F0 100%);
}

.topics__contents {
  margin: 30px 0 0 auto;
  max-width: 700px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .topics__contents {
    margin-left: 0;
  }
}

.topics-item {
  border-bottom: 1px solid #DDDDDD;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.topics-item:hover {
  background: #F0F0F0;
}

.topics__date {
  font-size: 1rem;
  letter-spacing: 0.015rem;
  line-height: 32 / 10;
  color: #CECECE;
}

.topics__title {
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 0.006rem;
  font-weight: 700;
}

.topics__button-block {
  margin-top: 30px;
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .topics__button-block {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .topics__button-block {
    text-align: left;
  }
}

.contact {
  background: #F0F0F0;
  padding-bottom: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding-bottom: 50px;
  }
}

.contact__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact__contents {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .contact__contents {
    display: block;
  }
}

.contact__text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
  padding: 70px 80px 70px 0;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact__text-block {
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .contact__text-block {
    padding: 30px 0 0;
  }
}

.contact__text {
  margin-top: 30px;
  line-height: 2;
}

.contact__button-block {
  margin-top: 40px;
}

.contact__img-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
}

.contact-fv__img {
  background: url(../img/heading-img_contact@2x.png) no-repeat top center/cover;
  height: 387px;
  width: 76.38889%;
  position: relative;
  z-index: 50;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact-fv__img {
    height: 529px;
  }
}

@media screen and (max-width: 767px) {
  .contact-fv__img {
    height: 387px;
  }
}

.contact-fv__img-black {
  position: absolute;
  top: 0;
  right: 0;
  width: 54.16667%;
  height: 451px;
  background: #000;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact-fv__img-black {
    width: 52.86458%;
    height: 615px;
  }
}

@media screen and (max-width: 767px) {
  .contact-fv__img-black {
    width: 52.8%;
    height: 449px;
  }
}

.contact-fv__contents {
  position: absolute;
  top: 24%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 13%;
  color: #fff;
  z-index: 51;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact-fv__contents {
    top: 16%;
  }
}

@media screen and (max-width: 767px) {
  .contact-fv__contents {
    top: 25%;
    left: 10%;
    right: 0;
  }
}

.contact-fv__big {
  margin-top: 5px;
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: 800;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact-fv__big {
    font-size: 5.6rem;
  }
}

@media screen and (max-width: 767px) {
  .contact-fv__big {
    font-size: 5.6rem;
  }
}

.contact-fv__text-en {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact-fv__text-en {
    font-size: 1.6rem;
    letter-spacing: 0.101rem;
  }
}

@media screen and (max-width: 767px) {
  .contact-fv__text-en {
    font-size: 1.6rem;
    letter-spacing: 0.101rem;
  }
}

.contact__form {
  margin: 80px auto 0;
  width: 700px;
  padding: 120px 0;
  max-width: 100%;
  background: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact__form {
    padding: 135px 4vw 195px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form {
    padding: 80px 4vw;
  }
}

.contact__form--row {
  margin-top: 55px;
}

.contact__form--row + .contact__form--row {
  margin-top: 45px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact__form--row {
    margin-top: 20px;
  }
  .contact__form--row + .contact__form--row {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form--row {
    margin-top: 20px;
  }
  .contact__form--row + .contact__form--row {
    margin-top: 40px;
  }
}

.contact__form--label label {
  font-weight: 400;
}

.contact__form--label label.is-required {
  position: relative;
}

.contact__form--label label.is-required::after {
  content: "必須";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: -13px;
  background: #333333;
  color: #fff;
  width: 34px;
  height: 18px;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
  line-height: 18px;
}

.contact__form--radio {
  margin-top: 23px;
}

.contact__form--radio [type="radio"] {
  display: none;
}

.contact__form--radio span {
  display: inline-block;
  margin-right: 55px;
  padding-left: 26px;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__form--radio span {
    margin-right: 20px;
    margin-bottom: 5px;
  }
}

.contact__form--radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact__form--radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #525252;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.contact__form--radio [type="radio"]:checked + span::after {
  display: block;
}

.contact__form--input {
  width: 100%;
  margin-top: 10px;
}

.contact__form--input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input [type="tel"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input textarea {
  min-height: 212px;
  resize: vertical;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact__form--input textarea {
    height: 160px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form--input textarea {
    height: 100px;
  }
}

.contact__privacy-row {
  margin-top: 40px;
  font-weight: 800;
}

.contact__privacy-text {
  width: 100%;
  height: 252px;
  margin-top: 10px;
  border: 1px solid #333333;
  padding: 10px;
  overflow: scroll;
}

.contact__form--checkbox {
  margin-top: 45px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact__form--checkbox {
    margin-top: 30px;
  }
}

.contact__form--checkbox [type="checkbox"] {
  display: none;
}

.contact__form--checkbox span {
  display: inline-block;
  padding-left: 49px;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__form--checkbox span {
    padding-left: 40px;
  }
}

.contact__form--checkbox span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.contact__form--checkbox [type="checkbox"]:checked + span::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -2px;
  left: 10px;
  border: 5px solid #525252;
  border-bottom: transparent;
  border-right: transparent;
  background: transparent;
  width: 12px;
}

.contact__form--checkbox a {
  text-decoration: underline;
  font-weight: 700;
}

.contact__form--submit {
  margin-top: 43px;
  text-align: center;
}

.contact__form--submit [type="submit"] {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  font-weight: bold;
  background: #000000;
  color: #fff;
  width: 160px;
  border: none;
  -webkit-box-shadow: 0  3px  6px #00000029;
          box-shadow: 0  3px  6px #00000029;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.contact__form--submit [type="submit"]:hover {
  opacity: 0.7;
}

.contact__message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact__message.-error {
  color: red;
}

.about-header__menu {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .about-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-fv__img {
  background: url(../img/heading-img@2x.png) no-repeat top center/cover;
  height: 367px;
  width: 76.38889%;
  position: relative;
  z-index: 50;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about-fv__img {
    height: 529px;
  }
}

@media screen and (max-width: 767px) {
  .about-fv__img {
    height: 387px;
  }
}

.about-fv__img-black {
  position: absolute;
  top: 0;
  right: 0;
  width: 54.16667%;
  height: 464px;
  background: #000;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about-fv__img-black {
    width: 52.86458%;
    height: 615px;
  }
}

@media screen and (max-width: 767px) {
  .about-fv__img-black {
    width: 52.8%;
    height: 449px;
  }
}

.about-fv__contents {
  position: absolute;
  top: 28%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 13%;
  color: #fff;
  z-index: 51;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about-fv__contents {
    top: 30%;
  }
}

@media screen and (max-width: 767px) {
  .about-fv__contents {
    top: 25%;
    left: 10%;
    right: 0;
  }
}

.about-fv__text-jp,
.about-fv__text-en {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about-fv__text-jp,
  .about-fv__text-en {
    font-size: 1.6rem;
    letter-spacing: 0.101rem;
  }
}

@media screen and (max-width: 767px) {
  .about-fv__text-jp,
  .about-fv__text-en {
    font-size: 1.6rem;
    letter-spacing: 0.101rem;
  }
}

.about-fv__text-en {
  display: block;
}

.about-fv__big {
  margin-top: 5px;
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: 800;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about-fv__big {
    font-size: 5.6rem;
  }
}

@media screen and (max-width: 767px) {
  .about-fv__big {
    font-size: 5.6rem;
  }
}

.vision__contents {
  margin-top: 197px;
  margin-left: 220px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .vision__contents {
    margin-left: 150px;
  }
}

@media screen and (max-width: 767px) {
  .vision__contents {
    margin-left: 0;
  }
}

.vision__sub-title {
  margin-top: 30px;
  font-size: 2.4rem;
  letter-spacing: 0.012rem;
  font-weight: 700;
}

.vision__text {
  margin-top: 30px;
}

.ceo__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .ceo__contents {
    display: block;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .ceo__contents {
    display: block;
    margin-top: 80px;
  }
}

.ceo__img-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 440px;
          flex: 0 1 440px;
}

@media screen and (max-width: 767px) {
  .ceo__img-box {
    width: 100%;
    -webkit-transform: translateX(-4vw);
            transform: translateX(-4vw);
  }
}

.ceo__text-box {
  margin: 260px 185px 0 95px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  padding-bottom: 90px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .ceo__text-box {
    margin: 24px 39px 0 auto;
    padding-bottom: 78px;
    width: 415px;
  }
}

@media screen and (max-width: 767px) {
  .ceo__text-box {
    width: 100%;
    margin: 25px auto 0;
    padding: 0 28px 80px;
  }
}

.ceo__text {
  margin-top: 30px;
}

.about-big__back {
  position: relative;
  z-index: -1;
}

.about-big__back::before {
  content: "";
  display: block;
  background: #F0F0F0;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 150px;
  width: 70%;
  z-index: -1;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .about-big__back::before {
    top: 170px;
  }
}

@media screen and (max-width: 767px) {
  .about-big__back::before {
    width: 100%;
  }
}

.company__header {
  margin-top: 120px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .company__header {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .company__header {
    margin-top: 80px;
  }
}

.company__list {
  max-width: 800px;
  margin-left: auto;
}

.company__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #DDDDDD;
}

@media screen and (max-width: 767px) {
  .company__item dt,
  .company__item dd {
    font-size: 14px;
  }
}

.company__item dt {
  width: 144px;
  font-weight: 700;
  letter-spacing: 0.006rem;
}

@media screen and (max-width: 767px) {
  .company__item dt {
    width: 120px;
  }
}

.company__item dd {
  letter-spacing: 0.006rem;
}

.company__gmap {
  margin: 40px 0 120px;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .company__gmap {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .company__gmap {
    margin-bottom: 80px;
  }
}

.company__gmap-iframe {
  width: 100%;
  position: relative;
  padding-top: 33%;
}

@media screen and (max-width: 767px) {
  .company__gmap-iframe {
    padding-top: 136%;
  }
}

.company__gmap-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-topics {
  margin-top: 150px;
}

.page-topics__time {
  font-size: 2rem;
}

.page-topics__title {
  margin-top: 50px;
  font-size: 3.6rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .page-topics__title {
    font-size: 3rem;
    text-align: left;
  }
}

.page-topics__text {
  margin-top: 50px;
  line-height: 2;
  padding: 0 50px 50px;
}

@media screen and (max-width: 767px) {
  .page-topics__text {
    padding: 0 4vw 20px;
  }
}

.page-topics__button-block {
  margin-top: 50px;
  text-align: right;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .page-topics__button-block {
    margin: 30px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .page-topics__button {
    margin-top: 10px;
  }
}

.footer {
  background: #525252;
  height: 50px;
  text-align: center;
}

small {
  font-size: 1rem;
  letter-spacing: 0.015rem;
  color: #fff;
  line-height: 50px;
}
